<h1>Profile</h1>

First Name: {{first_name}}
Last Name: {{last_name}}
Age: {{age}}
Email : {{email}}
cartID: {{cart}}
Roll : {{role}}
<br>

<button><a href="/logout">Cerrar sesion</a></button>
<a href="/api/products">Productos</a>