    <div class="center">
        <header>
            <div class="containerfull">
                <div class="top">
                    <div class="logo"><h1>SHOP-1</h1><!-- <img src="" alt="logo"> --></div>
                    <div class="navegate">
                            <span><a href="">AURICULARES /</a></span>
                            <span><a href="">AUDIO /</a></span>
                            <span><a href="">DECORACION /</a></span>
                            <span><a href="">GRAFICA</a></span>
                    </div>
                    <div class="items">
                        <div class="search"><img src="/static/css/search.png" alt="search"></div>
                        <div class="user"><img src="/static/css/user.png" alt="user"></div>
                        <div class="cart"><img src="/static/css/cart.png" alt="cart"></div> 
                    </div>
    
                </div>

                <div class="buttom">
                    <div class="promotions">
                        <div class="banner"><b>10% DESCUENTO EN COMPRAS MAYORES A $40000 </b></div>
                    </div>
                </div>
            </div>

            <div class="containerphone">
                <div class="top">
                    <div class="logo"><h2>SHOP-1</h2>{{!-- <img src="" alt="logo"> --}}</div>
                    <div class="items">
                        <div class="search"><img src="/static/css/search.png" alt="search"></div>
                        <div class="user"><img src="/static/css/user.png" alt="user"></div>
                        <div class="cart"><img src="/static/css/cart.png" alt="cart"></div>
                        <div><img src="/static/css/menu.png" alt="Menú" class="menu-image"> </div>
                                        <div class="menu-toggle">
                                            <div class="bar">AAAAAAAAA</div>
                                            <div class="bar">AAAAAAAA</div>
                                            <div class="bar">AAAAAAAAA</div>
                                            </div>
                                            <div class="menu">
                                                <ul>
                                                <li><a href="#">Inicio</a></li>
                                                <li><a href="#">Acerca de</a></li>
                                                <li><a href="#">Servicios</a></li>
                                                <li><a href="#">Contacto</a></li>
                                                </ul>
                                            </div>
                                        
     
                    </div>
    
                </div>

                <div class="buttom">
            <b>10% DESCUENTO EN COMPRAS MAYORES A $40000 </b>
                    
                </div>
            </div>
        </header>
    </div>

<div class="containerdetail">

    <div class="block1">

        <div><img src="{{this.imagen}}" alt="{{this.nombre}}"></div>
        <h2><b>{{this.nombre}}</b></h2>

    </div>

    <div class="block2">
        <b><div class="normal">${{this.precio}}</div></b>
        <button class="add">
            <a href="/cart/{{this.cart}}/product/{{this._id}}/cant/2" >AÑADIR</a></button>
        <div class="normal">Detalles{{this.descripcion}}</div> 
        <div class="normal">Stock:{{this.stock}}</div> 
    </div>
    
</div>